!!!
%html
%head
	%title Workout Log Application
	= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag  'application', 'data-turbolinks-track' => true
	= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'
	= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'
	= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css'
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-header
				= link_to "Workout Log", root_path, class: "navbar-brand"
			.nav.navbar-nav.navbar-right
				= link_to "New Workout", new_workout_path, class: "navbar navbar-link"
	.container
		=yield